@CHARSET "UTF-8";

/*-------------------------------------*/
/*Global							   */
/*-------------------------------------*/
body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/*-------------------------------------*/
/*Global							   */
/*-------------------------------------*/


/*-------------------------------------*/
/*Global							   */
/*-------------------------------------*/


/*-------------------------------------*/
/*Global							   */
/*-------------------------------------*/


/*-------------------------------------*/
/*Global							   */
/*-------------------------------------*/