body,div,td {
	font-family: Roboto, arial, sans-serif;
	color: #333
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 13px
}

body {
	background-color: #DCDCDC;
	text-align: left;
}

p {
	padding: 10px;
}

a img {
	border: 0 none;
	vertical-align: middle;
}

a {
	text-decoration: underline;
}

a:hover {
	color: #222222;
}

a:active {
	color: #222222;
}

a:visited {
	color: #222222;
}
/*******************************************************************/
/**********************  		LAYOUT 		************************/
/*******************************************************************/
#wrapper {
	margin: 0 auto;
	width: 100%;
}

#headerwrap {
	width: 100%;
	float: none;
	margin: 0 auto;
}

#header {
	height: 75px;
	background: #F5F5F5;
	border-radius: 0px;
/* 	border: 1px solid #e1e1e1; */
	margin-botton: 0.2%;
}

#navigationwrap {
	width: 100%;
	float: left;
	margin: 0 auto;
}

#navigation {
	height: 40px;
	background: #F5F5F5;
	border-radius: 0px;
/* 	border: 1px solid #e1e1e1; */
	margin-botton: 0.2%;
}

#contentwrap {
	width: 100%;
	float: left;
	margin: 0 auto;
}

#contentwrap_2 {
	width: 70%;
	float: left;
	margin: 0 auto;
}

#content {
	background: #F5F5F5;
	border-radius: 0px;
/* 	border: 1px solid #e1e1e1; */
	margin-botton: 0.2%;
}

#leftcolumnwrap {
	width: 15%;
	float: left;
	margin: 0 auto;
}	

#leftcolumn {
	background: #F5F5F5;
	border-radius: 0px;
	border: 1px solid #e1e1e1;
	margin: 0%;
}

#rightcolumnwrap {
	width: 15%;
	float: left;
	margin: 0 auto;
}

#rightcolumn {
	background: #F5F5F5;
	border-radius: 0px;
	border: 1px solid #e1e1e1;
	margin: 0%;
}

#footerwrap {
	width: 100%;
	float: left;
	margin: 0 auto;
	clear: both;
}

#footer {
	height: 40px;
	width: 100%;
	background: #F5F5F5;
	clear: both;
	position: absolute;
	bottom: 0;
	left: 0;
	border-radius: 0px;
/* 	margin: 0.2%; */
}

/*******************************************************************/
/**********************  	STYLE CLASS 	************************/
/*******************************************************************/

.column {
	position: relative;
	float: left;
}

.dialog {
    width: auto;
}

.col1 {
	vertical-align: top;
	font-weight: bold;
}

.col2 {
	vertical-align: top;
}

.col3 {
	vertical-align: top;
}