body,div,td {
	font-family: Roboto, arial, sans-serif;
	color: #737373;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 13px
}

body {
	background-color: #DCDCDC;
	text-align: left;
}

p {
	padding: 10px;
}

a img {
	border: 0 none;
	vertical-align: middle;
}

a {
	text-decoration: underline;
}

a:hover {
	color: #222222;
}

a:active {
	color: #222222;
}

a:visited {
	color: #222222;
}
/*******************************************************************/
/**********************  		LAYOUT 		************************/
/*******************************************************************/
#navigation {
	float: left;
	height: 40px;
	width: 100%;
	background: #F5F5F5;
}

#header {
	float: left;
	height: 75px;
	width: 100%;
	background: #FFFFFF;
}

#container {
	
}

#container .one_column {
	
}

#container .two_column_left {
	padding-left: 200px; /*LC width*/
}

#container .two_column_right {
	padding-right: 200px; /*RC width*/
}

#container .three_column {
	padding-left: 200px; /*LC width*/
	padding-right: 200px; /*RC width*/
}

#container .column {
	position: relative;
	float: left;
}

#centercolumn {
	width: 100%;
}

#leftcolumn {
	width: 200px; /* LC width */
	right: 200px; /* LC width */
	margin-left: -100%;
}

#rightcolumn {
	width: 200px; /* RC width */
	margin-right: -200px; /* RC width */
}

#footer {
	height: 40px;
	width: 100%;
	background: #F5F5F5;
	clear: both;
	position: absolute;
	bottom: 0;
	left: 0;
}
/*******************************************************************/
/**********************  	STYLE CLASS 	************************/
/*******************************************************************/
.header {
	
}

.content {
	
}

.footer {
	
}

.leftcolumn {
	top: 0;
	bottom: 0;
}

.rightcolumn {
	
}

.dialog {
	width: auto;
}

.col1 {
	vertical-align: top;
	font-weight: bold;
}

.col2 {
	vertical-align: top;
}

.col3 {
	vertical-align: top;
}